body,html{
  background-color: rgb(0, 0, 0);
}
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
 


.App {
  text-align: center;
}
.home{
  /* background-image: url("../src/components/img/background.jpg");
  background-size: cover; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-bottom: 200px;
  width: 70%;
  margin: auto;
  border-bottom: rgba(201, 129, 4, 0.194) solid;
  
}
nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 300px;
  margin: auto;
  padding-top:50px;
}

a{
  color: aliceblue;
  text-decoration: none;
}
p{
  color: aliceblue;
}

h1{
  font-size: 40px;
  font-family: 'Hind Siliguri', sans-serif;
  color: aliceblue;
}

.firstImage{
  width: 100%;
  margin-left: 20%;
  margin-top: 20%;
  
}

.title{
  width: 500px;
  margin: auto;
  color: aliceblue;
  padding-top: 200px;
  
}
.allAbout{
  padding-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: rgba(254, 147, 8, 0.173) solid;
  width: 70%;
  margin: auto;
  padding-bottom: 200px;
}
.aboutDes{
  width: 600px;
  margin: auto;
}
.aboutImage{
  width: 90%;
  height: 100%;
}
.projectTitle{
  width: 70%;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 100px;
}
.projectImage{
  width: 80%;
  height: 100%;
  border-radius: 30px;
  border: aliceblue solid;

}
.project{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
  margin-top: 100px;
  
 
}
.projectDes{
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
}
.allProject{ 
 
  margin: auto;
  margin-top: 200px;
  width: 70%;
  border-bottom: rgba(201, 129, 4, 0.194) solid;
} 
.project2{

  padding-top: 300px;
}


.projectImage:hover{
  transform: scale(1.2);
  
  box-shadow: 10px 50px 100px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
;
  
  
}
.titlePro{
  font-size: 70px;
  font-family: 'Hind Siliguri', sans-serif;
}
h2{
  font-size: 30px;
  font-family: 'Hind Siliguri', sans-serif;
  color: aliceblue;
}

.allContact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  
}
.icon{
  background: transparent;
  width: 30px;
  margin-right: 20px;
  padding-top: 40px;

}


.information{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 60%;
  padding-bottom: 30px;
  border-bottom: 2px solid white;
  
  

  
}
h4{
  color: aliceblue;
  
}
h4:hover{
  transform: scale(1.3);
  filter: brightness(120%);
 
}
h5{
  color: aliceblue;
}
label{
  color: aliceblue;
}
.fform{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  
  justify-content: space-around;
}
.info{
display: flex;
flex-direction: column;
width: 60%;
margin-bottom: 30px;
text-align: left;
}
.input{
  padding: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color:  black
}
.name{
  font-size: 70px;
}